.main{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

}

.app.showAdminPanel .main{
    flex-direction: row;
    height: 100vh;
}

.app.showAdminPanel{
    height: 100vh;
    overflow-y: hidden;
}
.adminMain{
  padding: 60px;
}