.commentContainer {
  display: flex;
  margin: 50px 0;
}

.userIcon {
  width: 40px;
  height: 40px;
  background-color: #ccc;
  border-radius: 50%;
  margin-right: 10px;
  flex-shrink: 0; 
}

.commentContent {
  flex-grow: 1;
}

.commentTextContainer ol,
.commentTextContainer ul {
  padding-left: 5px;
  margin: 5px 5px;
}

.commentTextContainer li {
  font-size: 16px;
  margin-bottom: 10px;
}

.commentTextContainer {
  display: flex;
  align-items: flex-start;
  margin: 5px 0;
  position: relative;
}

.verticalLine {
  align-self: stretch;
  width: 2px;
  background-color: #ccc;
  margin-right: 10px;
  min-height: 20px;
  flex-shrink: 0; 
}

.commentText {
  flex-grow: 1;
  word-break: break-word;
}


.iconButton {
  width: 73px;
  height: 38px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  color: #333;
  background: #EAEDEF;
  border: none;
  padding: 8px 12px;
  border-radius: 16px;
  cursor: pointer;
}

.iconButton img.commentIcon {
  width: 23px;
  height: 23px;
}

.iconButton:hover {
  background: #e0e0e0;
}
