.commentEditorContainer {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: -20px;
}

.placeholder {
  padding: 10px 16px;
  font-size: 14px;
  color: #0073e6;
  background: #f9fafc;
  border: 1px solid #ccc;
  border-radius: 24px;
  cursor: pointer;
  text-align: left;
}

.placeholder:hover {
  background: #f0f4f8;
}

.editor {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 0;
  width: 100%;
  grid-row: 1;
  max-width: 100%; 
  overflow: auto;
}
.ql-snow .ql-stroke {
  stroke:none;
}
/* Панель инструментов Quill */
.editor .ql-toolbar {
  border: none !important;
  stroke:none;
  background: #fff !important; /* Обновленный фон панели инструментов */
  border-radius: 20px 20px 0 0;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Основная область редактора */
.editor .ql-container {
  stroke:none !important;
  border: none !important;
  box-shadow: none !important;
  font-size: 14px;
  min-height: 120px;
  background-color: transparent !important;
}

.editor .ql-editor {
  padding: 10px;
  font-size: 14px;
  line-height: 1.5;
  background-color: #f9fafc; /* Легкий фон для зоны редактирования */
  border-radius: 0 0 20px 20px;
  border: none;
}


/* Списки и текст */
.ql-editor ol,
.ql-editor ul,
.editor ol,
.editor ul {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.ql-editor li,
.editor ul li {
  margin-bottom: 10px; /* Встановлено більший відступ між пунктами */
  margin: 0;
  padding: 0;
  display:table-column; /* Встановлено відображення блоком для кожного елемента */
  list-style-type: none !important; /* Якщо хочете прибрати маркери */
  padding: 0%;
}

/* Блоки кода */
.ql-code-block {
  background-color: #f4f4f4;
  border-left: 4px solid #ddd;
  font-family: monospace;
  padding: 10px;
  margin: 5px 0;
  white-space: pre-wrap;
}

/* Стили кнопок */
.actions {
  gap: 10px;
  display: flex;
  margin: 10px;
  margin-right: 100px;
  width: 90px;
  grid-row: 1; /* Занимаем первую строку вместе с редактором */
  grid-column: 2; /* Занимаем вторую колонку */
  justify-self:flex-end; /* Выравниваем кнопки по правому краю */
  align-self: end; 
}
.submitButton:hover {
  background-color: #005bb5;
}

.cancelButton:hover {
  background-color: #f0f0f0;
}

.submitButton {
  background-color: #0B7DCF;
  color: #fff;
  border-radius: 20px;
  border: none;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
}

.cancelButton {
  background-color: #D9D9D9;
  color: #000;
  border-radius: 20px;
  border: none;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
}

.ql-container {
  max-width: 100%;
  overflow: auto !important;
}