html{
  width: 100%;
  margin: 0; 
  overflow-x: auto;
  overflow-x:hidden;
}
.postContainer {
  width: 80%;
  margin: 0 auto;
  margin-top: 30px;
}

.postHeader {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  position: relative; 
}

.backButton {
  background-color: #D9D9D9;
  border-radius: 100px;
  font-size: 18px;
  color: #333;
  cursor: pointer;
  position: absolute;
  left: -50px; 
  top: 50%;
  transform: translateY(-50%); 
  width: 40px;
  height: 40px;
}

.userInfo {
  display: flex;
  align-items: center;
}

.userIcon {
  width: 44px;
  height: 44px;
  background-color: #d9d9d9;
  border-radius: 50%;
  margin-right: 10px;
  display: flex; 
  align-items: center;
  justify-content: center;
  overflow: hidden; 
}

.userImage {
  width: 100%; 
  height: 100%;
  object-fit: cover; 
  border-radius: 50%; 
}


.userInfo span {
  font-size: 19px;
}

.userInfo b {
  font-size: 24px;
}


.postTitle {
  font-size: 28px;
  font-weight: bold;
  margin: 25px 0;
}

.postContent {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 27px;
}

.postFooter {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.iconButton {
  width: 106px;
  height: 38px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  color: #333;
  background: #EAEDEF;
  border: none;
  padding: 8px 12px;
  border-radius: 16px;
  cursor: pointer;
}

.iconButton img.commentIcon {
  width: 23px;
  height: 23px;
}
.iconButton:hover {
  background: #e0e0e0;
}
.shareButton {
  background: #EAEDEF;
  color: #0B7DCF;;
  border: none;
  border-radius: 16px;
  padding: 8px 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  width: auto;
}

.shareMenu {
  display: flex;
  gap: 10px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  align-items: center; 
  justify-content: center; 
  padding: 10px; 
  height: 38px; 
}

.shareMenu button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 12px;
  line-height: 1; 
  display: flex;
  align-items: center;
}
.commentSection {
  margin-top: 30px;
  background-color: #fff;
}
.commentActions {
  height: 50px;
  width: 150px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 5px;
}

.commentInputContainer {
  margin-top: 30px;
  position: relative;
  border: 1px solid #CCCCCC;
  border-radius: 40px;
  padding: 15px;
  background-color: #fff;
}

